<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vitaliiboiko_seq" translate="label" type="text" sortOrder="950"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Seq (Local Dev)</label>
            <tab>advanced</tab>
            <resource>VitaliiBoiko_Seq::config</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment>This module is for local development only.</comment>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="url" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seq URL</label>
                    <validate>required-entry</validate>
                    <comment>Example: http://host.docker.internal:5341/api/events/raw?clef</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="password" translate="label comment" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password / API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Optional. Sent as the X-Seq-ApiKey header.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
